.missionTable {
  margin: auto;
  width: 90%;
  margin-top: 30px;
}

.missionTable,
.missionTable th,
.missionTable td {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 20px;
}

.missionTable tbody > tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.memberBtn {
  background-color: rgba(51, 51, 51, 0.7);
  width: 150px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.missionBtn {
  background-color: #fff;
  width: 120px;
  border: 1px solid rgba(51, 51, 51, 0.9);
  padding: 10px;
  border-radius: 6px;
  font-size: 17px;
  color: rgba(51, 51, 51, 0.9);
}
