@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.App-logo {
  height: 56px;
}

#root > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px;
  border-bottom: 1px solid black;
}

#root > header > nav {
  display: flex;
  gap: 16px;
}

#root > header > nav > a {
  text-decoration: none;
  color: #0290ff;
}

#root > header > nav > a.active-link {
  text-decoration: underline;
  color: #333;
}

#my-profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;
  gap: 40px;
}

#missions h2 {
  font-size: 20px;
  margin: 20px 0;
}

#missions > ul {
  border: 1px solid #ccc;
}

#missions > ul li {
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

#missions > ul li:last-child {
  border: none;
}
